/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END Reset CSS */

/* Base CSS */

body {
    font-family: Verdana, sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: auto;
}

/* Menu Navbar */

.menu {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.menu li {
    display:inline-block
}

.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
}

.menu li:hover {
    background-color: #111;
}

.menu #active {
    background-color: lightcoral;
}

/* Menu Media Queries */

@media only screen and (max-width: 620px){
    .menu li {
        display: block;
    }
}

/* END Menu Navbar */

/* Utilities */

.button {
    padding: 16px 16px ;
    background-color: aqua;
    border-radius: 2px;
    max-width: 310px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 2em;
}

/* END Utilities */

/* END Base CSS */