/* Base CSS */

body {
    font-family: Verdana, sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: auto;
}

/* Menu Navbar */

.menu {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.menu li {
    display:inline-block
}

.menu li * {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
}

.menu li:hover {
    background-color: #111;
}

.menu #active {
    background-color: lightcoral;
}

/* Menu Media Queries */

@media only screen and (max-width: 620px){
    .menu li {
        display: block;
    }
}

/* END Menu Navbar */

/* User Navbar */

.menu-user ul {
    background-color: lightcoral !important;
}

.menu-user li:hover {
    background-color: #9d4d4d;
}

.logged-in:hover {
    background-color: lightcoral !important;
}

/* END User Navbar */

/* Utilities */

.input-form {
    display: inline-block;
    text-align: center;
    padding: 50px;
    background-color: white;
}

.input-form input {
    display: block;
    margin: auto;
    width: 200px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-form input:focus {
    border: 1px solid lightcoral;
}

.input-form * {
    margin-top: 10px !important;
}

.input-form button {
    border: none;
    cursor: pointer;
}

.input-form a {
    display: block;
    color: rgb(168, 82, 82);
    text-decoration: underline;
    margin-top: 20px !important;
}

.button {
    padding: 16px 16px;
    border-radius: 2px;
    max-width: 310px;
    background-color: lightcoral;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: #111;
}

.button-inverse {
    background-color: #111;
}

.button-inverse:hover {
    background-color: lightcoral;
}

.button-white {
    background-color: white;
    color: lightcoral;
}

.button-white:hover {
    background-color: #111;
    color: white;
}

h3 {
    font-size: 2em;
}

.error {
    color: red;
    display: block;
}

/* END Utilities */

/* END Base CSS */